:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 2 3 3;
  --oui-color-primary-light: 0 0 0;
  --oui-color-primary-darken: 0 0 0;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 0 0 0;
  --oui-color-link-light: 5 11 10;

  --oui-color-secondary: 60 21 21;
  --oui-color-tertiary: 50 16 16;
  --oui-color-quaternary: 24 12 12;

  --oui-color-danger: 237 91 134;
  --oui-color-danger-light: 250 154 173;
  --oui-color-danger-darken: 224 63 117;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 46 204 113;
  --oui-color-success-light: 92 229 152;
  --oui-color-success-darken: 0 146 90;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 158 66;
  --oui-color-warning-light: 255 198 97;
  --oui-color-warning-darken: 229 117 40;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 46 58;
  --oui-color-fill-active: 44 53 67;

  --oui-color-base-1: 83 104 121;
  --oui-color-base-2: 73 94 111;
  --oui-color-base-3: 63 84 100;
  --oui-color-base-4: 56 75 90;
  --oui-color-base-5: 49 66 80;
  --oui-color-base-6: 42 57 70;
  --oui-color-base-7: 35 48 60;
  --oui-color-base-8: 28 39 50;
  --oui-color-base-9: 22 30 40;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 91 134;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 46 204 113;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 137 132;
  --oui-gradient-primary-end: 144 202 198;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 46 204 113;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 237 91 134;

  --oui-gradient-brand-start: 173 255 47;
  --oui-gradient-brand-end: 87 146 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 245 158 66;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}


#root>div.oui-scaffold-root.oui-font-semibold.oui-bg-base-10.oui-text-base-contrast.oui-flex.oui-flex-col.oui-custom-scrollbar.oui-overflow-auto>div.oui-box.oui-scaffold-topNavbar.oui-bg-base-9>header>div .oui-text-base-contrast-36 {
  color: rgb(var(--oui-color-base-foreground) / 1) !important;
}

.button {
  background-color: blue !important;
}

/* Target all buttons within the Position history element */
#radix-\:r6b\:-content-Position\ history button {
  background-color: #3b82f6 !important;
}

.oui-scaffold-footer-powered-by {
  display: none;
}