:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 212 175 55;
  /* rich gold */
  --oui-color-primary-light: 242 210 92;
  --oui-color-primary-darken: 161 129 32;
  --oui-color-primary-contrast: 14 13 18;

  --oui-color-link: 212 175 55;
  --oui-color-link-light: 242 210 92;

  --oui-color-secondary: 24 24 32;
  /* deep graphite navy */
  --oui-color-tertiary: 35 35 45;
  --oui-color-quaternary: 85 85 100;

  --oui-color-danger: 207 70 91;
  --oui-color-danger-light: 241 136 155;
  --oui-color-danger-darken: 164 40 60;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 50 168 110;
  --oui-color-success-light: 86 204 153;
  --oui-color-success-darken: 26 122 81;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 241 196 15;
  --oui-color-warning-light: 255 222 89;
  --oui-color-warning-darken: 190 151 10;
  --oui-color-warning-contrast: 14 13 18;

  --oui-color-fill: 18 18 25;
  --oui-color-fill-active: 26 26 36;

  --oui-color-base-1: 60 60 75;
  --oui-color-base-2: 50 50 65;
  --oui-color-base-3: 45 45 55;
  --oui-color-base-4: 38 38 48;
  --oui-color-base-5: 32 32 40;
  --oui-color-base-6: 28 28 35;
  --oui-color-base-7: 22 22 28;
  --oui-color-base-8: 18 18 24;
  --oui-color-base-9: 14 14 19;
  --oui-color-base-10: 10 10 14;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 120 120 140;

  --oui-color-trading-loss: 207 70 91;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 50 168 110;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 137 132;
  --oui-gradient-primary-end: 144 202 198;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 46 204 113;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 237 91 134;

  --oui-gradient-brand-start: 173 255 47;
  --oui-gradient-brand-end: 87 146 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 245 158 66;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}


#root>div.oui-scaffold-root.oui-font-semibold.oui-bg-base-10.oui-text-base-contrast.oui-flex.oui-flex-col.oui-custom-scrollbar.oui-overflow-auto>div.oui-box.oui-scaffold-topNavbar.oui-bg-base-9>header>div .oui-text-base-contrast-36 {
  color: rgb(var(--oui-color-base-foreground) / 1) !important;
}

.button {
  background-color: blue !important;
}

/* Target all buttons within the Position history element */
#radix-\:r6b\:-content-Position\ history button {
  background-color: #3b82f6 !important;
}

.oui-scaffold-footer-powered-by {
  display: none;
}